*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
   display: flex;
   justify-content: center;
   height: 100vh;
   margin: 0;
   background-color: #f0f0f0;
}

.bounce{
    width: 80px;
    height: 80px;
    margin-top: 5rem;
    background-color: blue;
    border-radius: 50%;
    animation: bounce 2s infinite;
}
@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
}
.shift{
    width: 80px;
    height: 80px;
    margin-top: 5rem;
    border-radius: 50%;
    background-color: red;
    animation: spin 1s infinite;

}
@keyframes spin{
    0%{
      transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.image-slider{
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    margin: 0 auto;
}
.image-slider img{
    margin-top: 10rem;
    display: inline-block;
    width: 100px;
    height: auto;
    animation: slide 5s linear infinite;
}
@keyframes slide{
    0%, 100%{
        transform: translateX(0);
    }
    33.33%{
        transform: translateX(-100%);
    }
    66.66%{
        transform: translateX(-250%);
    }
    100%{
        transform: translateX(0);
    }
}
.color-change-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    animation: colorChange 3s infinite;
}
@keyframes colorChange{
    0%, 100%{
        background-color: blue;
        color: #fff;
    }
    50%{
   background-color: red;
   color: #fff; 
    }
}